{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}

                    <h1 class="h3 mb-3 font-weight-normal">Login</h1>

                    <label for="inputEmail" class="mt-3 mb-1">Username</label>
                    <input type="text" value="{{ last_username }}" name="username" id="inputEmail" class="form-control" required autofocus>
                    <label for="inputPassword" class="mt-3 mb-1">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" required>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <div class="checkbox mb-3 mt-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>

                    <button type="submit" class="btn btn-lg btn-primary">
                        Sign in
                    </button>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
{% endblock %}