{% extends 'base.html.twig' %}

{% block body %}

    {% if app.request.query.get('success') %}
        <span class="alert alert-success">
            {{ app.request.query.get('success') }}
        </span>
    {% endif %}

{% endblock %}