{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="mb-4">Patients</h1>

    <a href="{{ path('patient_create') }}" class="btn btn-primary">Create new patient</a>

    <table class="table table-hover table-sm mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Location</th>
                <th scope="col">JMBG</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for patient in patients %}
                <tr>
                    <th class="align-middle" scope="row">{{ patient.id }}</th>
                    <td class="align-middle">{{ patient.firstName }}</td>
                    <td class="align-middle">{{ patient.lastName }}</td>
                    <td class="align-middle">{{ patient.location.name }}</td>
                    <td class="align-middle">{{ patient.jmbg }}</td>
                    <td width="160px">
                        <div class="btn-group" role="group">
                            <a href="{{ path('patient_get_single', { 'id': patient.id }) }}" class="btn btn-sm btn-light">View</a>
                            <a href="{{ path('patient_update', { 'id': patient.id }) }}" class="btn btn-sm btn-warning">Edit</a>
                            <a href="{{ path('patient_delete', { 'id': patient.id }) }}" class="btn btn-sm btn-danger">Delete</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}