{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="mb-4">Patient #{{ patient.id }}</h1>

    <table class="table table-hover table-sm mt-4">
        <thead>
        <tr>
            <th scope="col">Field name</th>
            <th scope="col">Value</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>ID</th>
            <td>{{ patient.id }}</td>
        </tr>
        <tr>
            <th>First name</th>
            <td>{{ patient.firstName }}</td>
        </tr>
        <tr>
            <th>Last name</th>
            <td>{{ patient.lastName }}</td>
        </tr>
        <tr>
            <th>Location</th>
            <td>{{ patient.location.name }}</td>
        </tr>
        <tr>
            <th>JMBG</th>
            <td>{{ patient.jmbg }}</td>
        </tr>
        <tr>
            <th>Note</th>
            <td>{{ patient.note }}</td>
        </tr>
        </tbody>
    </table>

    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group me-3" role="group">
            <a href="{{ path('patient_update', { 'id': patient.id }) }}" class="btn btn-warning">Edit</a>
            <a href="{{ path('patient_delete', { 'id': patient.id }) }}" class="btn btn-danger">Delete</a>
        </div>
        <div class="btn-group" role="group">
            <a href="{{ path('patient_list') }}" class="btn btn-primary">Back to list</a>
        </div>
    </div>

{% endblock %}