<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <span class="me-5">Ambulance</span>
            </a>

            {{ knp_menu_render('header_menu') }}

            <div class="text-end">
                {% if app.user %}
                    <span class="pe-4">Welcome {{ app.user.firstName }}</span>
                    <a href="{{ path('logout') }}" class="btn btn-outline-light me-2">Logout</a>
                {% else %}
                    <a href="{{ path('login') }}" class="btn btn-outline-light me-2">Login</a>
                    <a href="{{ path('register') }}" class="btn btn-warning">Register</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>