{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="mb-4">Countries</h1>

    <a href="{{ path('country_create') }}" class="btn btn-primary">Create new country</a>

    <table class="table table-hover table-sm mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for country in countries %}
                <tr>
                    <th class="align-middle" scope="row">{{ country.id }}</th>
                    <td class="align-middle">{{ country.name }}</td>
                    <td width="160px">
                        <div class="btn-group text-right" role="group">
                            <a href="{{ path('country_get_single', { 'id': country.id }) }}" class="btn btn-sm btn-light">View</a>
                            <a href="{{ path('country_update', { 'id': country.id }) }}" class="btn btn-sm btn-warning">Edit</a>
                            <a href="{{ path('country_delete', { 'id': country.id }) }}" class="btn btn-sm btn-danger">Delete</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}