{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="mb-4">Doctors</h1>

    <a href="{{ path('doctor_create') }}" class="btn btn-primary">Create new doctor</a>

    <table class="table table-hover table-sm mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Doctor type</th>
                <th scope="col">User</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for doctor in doctors %}
                <tr>
                    <th class="align-middle" scope="row">{{ doctor.id }}</th>
                    <td class="align-middle">{{ doctor.type.name }}</td>
                    <td class="align-middle">{{ doctor.user.firstName }} {{ doctor.user.lastName }}</td>
                    <td width="160px">
                        <div class="btn-group" role="group">
                            <a href="{{ path('doctor_get_single', { 'id': doctor.id }) }}" class="btn btn-sm btn-light">View</a>
                            <a href="{{ path('doctor_update', { 'id': doctor.id }) }}" class="btn btn-sm btn-warning">Edit</a>
                            <a href="{{ path('doctor_delete', { 'id': doctor.id }) }}" class="btn btn-sm btn-danger">Delete</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}