{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="mb-4">Doctor #{{ doctor.id }}</h1>

    <table class="table table-hover table-sm mt-4">
        <thead>
            <tr>
                <th scope="col">Field name</th>
                <th scope="col">Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ doctor.id }}</td>
            </tr>
            <tr>
                <th>Doctor type</th>
                <td>{{ doctor.type.name }}</td>
            </tr>
            <tr>
                <th>User</th>
                <td>{{ doctor.user.firstName }} {{ doctor.user.lastName }}</td>
            </tr>
        </tbody>
    </table>

    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group me-3" role="group">
            <a href="{{ path('doctor_update', { 'id': doctor.id }) }}" class="btn btn-warning">Edit</a>
            <a href="{{ path('doctor_delete', { 'id': doctor.id }) }}" class="btn btn-danger">Delete</a>
        </div>
        <div class="btn-group" role="group">
            <a href="{{ path('doctor_list') }}" class="btn btn-primary">Back to list</a>
        </div>
    </div>

{% endblock %}