{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="mb-4">Doctor types</h1>

    <a href="{{ path('doctor_type_create') }}" class="btn btn-primary">Create new doctor type</a>

    <table class="table table-hover table-sm mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for doctorType in doctorTypes %}
                <tr>
                    <th class="align-middle" scope="row">{{ doctorType.id }}</th>
                    <td class="align-middle">{{ doctorType.name }}</td>
                    <td width="160px">
                        <div class="btn-group" role="group">
                            <a href="{{ path('doctor_type_get_single', { 'id': doctorType.id }) }}" class="btn btn-sm btn-light">View</a>
                            <a href="{{ path('doctor_type_update', { 'id': doctorType.id }) }}" class="btn btn-sm btn-warning">Edit</a>
                            <a href="{{ path('doctor_type_delete', { 'id': doctorType.id }) }}" class="btn btn-sm btn-danger">Delete</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}