{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="mb-4">Country #{{ doctorType.id }}</h1>

    {% if app.request.query.get('error') %}
        <span class="alert alert-danger">
            {{ app.request.query.get('error') }}
        </span>
    {% endif %}

    <table class="table table-hover table-sm mt-4">
        <thead>
            <tr>
                <th scope="col">Field name</th>
                <th scope="col">Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ doctorType.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ doctorType.name }}</td>
            </tr>
        </tbody>
    </table>

    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group me-3" role="group">
            <a href="{{ path('doctor_type_update', { 'id': doctorType.id }) }}" class="btn btn-warning">Edit</a>
            <a href="{{ path('doctor_type_delete', { 'id': doctorType.id }) }}" class="btn btn-danger">Delete</a>
        </div>
        <div class="btn-group" role="group">
            <a href="{{ path('doctor_type_list') }}" class="btn btn-primary">Back to list</a>
        </div>
    </div>

{% endblock %}