{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="mb-4">Examinations</h1>

    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_COUNTER') %}
        <a href="{{ path('examination_create') }}" class="btn btn-primary">Create new examination</a>
    {% endif %}

    <table class="table table-hover table-sm mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Patient</th>
                <th scope="col">Doctor</th>
                <th scope="col">Appointment</th>
                <th scope="col">Performed</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for examination in examinations %}
                <tr>
                    <th class="align-middle" scope="row">{{ examination.id }}</th>
                    <td class="align-middle">{{ examination.patient.firstName }} {{ examination.patient.lastName }}</td>
                    <td class="align-middle">{{ examination.doctor.user.firstName }} {{ examination.doctor.user.lastName }}</td>
                    <td class="align-middle">{{ examination.appointment.format('d.m.Y H:i'   ) }}</td>
                    <td class="align-middle">
                        {% if examination.performed %}
                            <i class="bi bi-check2"></i>
                        {% else %}
                            <i class="bi bi-x"></i>
                        {% endif %}
                    </td>
                    <td width="160px">
                        <div class="btn-group" role="group">
                            <a href="{{ path('examination_get_single', { 'id': examination.id }) }}" class="btn btn-sm btn-light">View</a>
                            <a href="{{ path('examination_update', { 'id': examination.id }) }}" class="btn btn-sm btn-warning">Edit</a>
                            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_COUNTER') %}
                                <a href="{{ path('examination_delete', { 'id': examination.id }) }}" class="btn btn-sm btn-danger">Delete</a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}