{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="mb-4">Examination #{{ examination.id }}</h1>

    <table class="table table-hover table-sm mt-4">
        <thead>
            <tr>
                <th scope="col">Field name</th>
                <th scope="col">Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ examination.id }}</td>
            </tr>
            <tr>
                <th>Patient</th>
                <td>{{ examination.patient.firstName }} {{ examination.patient.lastName }}</td>
            </tr>
            <tr>
                <th>Doctor</th>
                <td>{{ examination.doctor.user.firstName }} {{ examination.doctor.user.lastName }}</td>
            </tr>
            <tr>
                <th>Appointment</th>
                <td>{{ examination.appointment.format('d.m.Y H:i') }}</td>
            </tr>
            <tr>
                <th>Performed</th>
                <td>
                    {% if examination.performed %}
                        <i class="bi bi-check2"></i>
                    {% else %}
                        <i class="bi bi-x"></i>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Diagnosis</th>
                <td>{{ examination.diagnosis }}</td>
            </tr>
        </tbody>
    </table>

    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group me-3" role="group">
            <a href="{{ path('examination_update', { 'id': examination.id }) }}" class="btn btn-warning">Edit</a>
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_COUNTER') %}
                <a href="{{ path('examination_delete', { 'id': examination.id }) }}" class="btn btn-danger">Delete</a>
            {% endif %}
        </div>
        <div class="btn-group" role="group">
            <a href="{{ path('examination_list') }}" class="btn btn-primary">Back to list</a>
        </div>
    </div>

{% endblock %}