{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="mb-4">Users</h1>

    <a href="{{ path('user_create') }}" class="btn btn-primary">Create new user</a>

    <table class="table table-hover table-sm mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Roles</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <th class="align-middle" scope="row">{{ user.id }}</th>
                    <td class="align-middle">{{ user.username }}</td>
                    <td class="align-middle">{{ user.roles|join(', ') }}</td>
                    <td class="align-middle">{{ user.firstName }}</td>
                    <td class="align-middle">{{ user.lastName }}</td>
                    <td width="160px">
                        <div class="btn-group" role="group">
                            <a href="{{ path('user_get_single', { 'id': user.id }) }}" class="btn btn-sm btn-light">View</a>
                            <a href="{{ path('user_update', { 'id': user.id }) }}" class="btn btn-sm btn-warning">Edit</a>
                            <a href="{{ path('user_delete', { 'id': user.id }) }}" class="btn btn-sm btn-danger">Delete</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}