{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="mb-4">User #{{ user.id }}</h1>
    {% if app.request.query.get('error') %}
        <span class="alert alert-danger">
            {{ app.request.query.get('error') }}
        </span>
    {% endif %}
    <table class="table table-hover table-sm mt-4">
        <thead>
            <tr>
                <th scope="col">Field name</th>
                <th scope="col">Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles|join(', ') }}</td>
            </tr>
            <tr>
                <th>First name</th>
                <td>{{ user.firstName }}</td>
            </tr>
            <tr>
                <th>Last name</th>
                <td>{{ user.lastName }}</td>
            </tr>
        </tbody>
    </table>

    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group me-3" role="group">
            <a href="{{ path('user_update', { 'id': user.id }) }}" class="btn btn-warning">Edit</a>
            <a href="{{ path('user_delete', { 'id': user.id }) }}" class="btn btn-danger">Delete</a>
        </div>
        <div class="btn-group" role="group">
            <a href="{{ path('user_list') }}" class="btn btn-primary">Back to list</a>
        </div>
    </div>

{% endblock %}